<div class="nav-div">   
    <div class="logo"></div> 
    <div class="logoname">DOST-E-KHALQ</div>
    <nav class="nav">
        <ul>
            <li>
                <a href="/Tasks">Tasks</a>
                <a href="/Rooms">Community</a>
                <a href="/Files">Files</a>
                {{#if loggedIn}}
                    <li><a href="/Logout">Logout</a></li>
                    <li><a href="/Admin">Admin</a></li>
                {{/if}}
                {{#if calendarTimeline.loggedIn}}
                    <li><a href="/Logout">Logout</a></li>
                    <li><a href="/Admin">Admin</a></li>
                {{/if}}
                {{#if user.loggedIn}}
                    <li><a href="/Logout">Logout</a></li>
                    <li><a href="/Admin">Admin</a></li>
                {{/if}}
            </li>
        </ul>
    </nav>
</div>
    <script>
	var dd_main = document.querySelector(".user");

	dd_main.addEventListener("hover", function(){
		this.classList.toggle("active");
	})
    </script>
    <script>
        const currentLocation = location.href;
        const menuItems = document.querySelectorAll('a');
        const menuLength = menuItems.length;
        for (let i = 0; i<menuLength; i++){
            if(menuItems[i].href === currentLocation){
                menuItems[i].className = "active"
            }
        }
    </script>